body, .button, .quote, .author {
    transition: 1s;
}

.wrapper {
    background-color: white;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quote {
    text-align: center;
}

.author {
    text-align: right;
    font-style: italic;
}

.button {
    color: white;
    float: right;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.invisible-text {
    opacity: 0;
}